* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 3% 5%;
    z-index: 10;
  }
  
  .navbar_brand {
    width: 100px;
    height: 100%;
  }
  
  .brand_logo {
    width: 100%;
    height: 100%;
  }
  .navbar_nav_items {
    display: flex;
    gap: 10px;
  }
  
  .hero_bg_image_container {
    width: 100%;
    height: 100vh;
  }
  
  .hero_bg_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero_bg_overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  li{
    padding-left: 40px;
  }
  .hero_card {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 70px;
  }
  
  .hero_title {
    font-weight: 600;
    font-size: 2rem;
  }
  
  .hero_subtitle,
  .hero_description {
    font-weight: 400;
    font-size: 1rem;
    width: 40%;
  }
.primary_button{
    padding: 10px;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid white;
}
  